.frame{
	border:1px solid transparent;
	height: 400px;
	margin-bottom: 50px;
}

.nav{
	height: 100px;
}

.notice{
	padding:0px;
	margin-bottom: 10px;
}

.locker-preview{
	height: 200px;
	margin:10px;
	background-color: #DFDFDF;
}

.selection-info{
	height:80px;
	background-color: #888888;
}

.selection-window{
	height:320px;
	background-color:#E7E7E7;
}

.sel-win{
	width:420px;
	margin:0 auto;
	margin-top:50px;
}

.locker{
	margin:5px;
	height:50px;
	text-align:center;
	color:white;
	background-color: #070289;
}

.mylocker{
	width:35px;
	height:35px;
	margin:3px;
	border:1px solid grey;
	outline:0;
	font-size:12px;
	background-color:white;
	display:inline-block;
	text-align: center;
	line-height:35px;
}

.mylocker:hover{
	background-color: grey;
}

.mylocker:active{
	background-color: red;
}

.modal-header{
	background-color:#070289;
	color:white;
}
	
.login{
	margin-right:30px;
}
